<div class="content-container">
  <header class="header">
    <img class="header-logo" src="./../../assets/angular.svg" alt="angular logo">
    <h1 class="header-text">Welcome to the Dashboard</h1>
  </header>

  <div class="ip-info">
    <h1>{{ ipInfo.ip }}</h1>
    <h1>{{ ipInfo.city }}, {{ ipInfo.country }}</h1>
  </div>

  <div class="insult">
    <h1>{{ evilInsult }}</h1>
  </div>

  <div class="random-joke">
    <h1>{{ randomJoke }}</h1>
  </div>

  <div class="xkcd-comic">
    <img src="{{ xkcdComic.img }}" alt="">
  </div>
</div>


