<div class="sign-in-container">
  <h1 class="sign-in-header">Sign in to continue</h1>
  <form class="sign-in-form" [formGroup]="form" (ngSubmit)="userDetails(form.value)">
    <span class="sign-in-form-errors" *ngIf="isUsername">Please input correct username</span> <br>
    <input type="text" placeholder="Enter username" formControlName="username" aria-label="input username"> <br>
    <span class="sign-in-form-errors" *ngIf="isPassword">Please input correct password</span> <br>
    <input type="password" placeholder="Enter password" formControlName="password" aria-label="input password"> <br>
    <span class="sign-in-form-password-reset">Forgot password?</span>
    <button class="sign-in-button" type="submit">Sign In</button>
  </form>
</div>
